<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="renderer" content="webkit" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    </head>
    <body>
        <div id="app"></div>
        <div style="display:none;">
            <script type="text/javascript" 
                    src="https://s9.cnzz.com/z_stat.php?id=1277938200&web_id=1277938200">
            </script>
            <!-- <script defer src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
            <!-- <script>(adsbygoogle = window.adsbygoogle || []).push({});</script> -->
        </div>
    </body>
</html>
