.m-facedata{
    padding:20px;
}
.m-face-parse-title{
    font-weight:300;
    .x;
}
@media screen and (max-width:@phone){
    .m-face-parse-title{
        .fz(18px);
    }
}
.m-face-parse{
    max-width:800px;
    .auto(x);
}

.m-face-parse-upload{
    padding:20px;
    .x;
    .r(4px);
    .u-input{
        .none;
    }
    .u-btn{

    }
    .u-status{
        a:hover{
            box-shadow:0 1px 0 @primary;
        }
    }
    border:1px dashed #ddd;
}

.m-face-parse-notsupport{
    .mt(20px);
}

.m-face-parse-preview{
    .mt(20px);
    min-height:calc(100vh - 500px);
}

