.m-icons {
	padding: 20px 30px;
	max-width: 1200px;
	.auto(x);
}
@media screen and (max-width: @phone) {
	.m-icons {
		padding: 10px;
	}
}
.m-icons-title {
	font-size: 24px;
	font-weight: 500;
	.x;
	margin: 0 0 20px 0;
	padding: 0;
}
@media screen and (max-width: @phone) {
	.m-icons-title {
		.none;
	}
}

.el-tabs__item {
	background-color: @bg-light;
	border-bottom: 1px solid #e4e7ed !important;

	&.is-active {
		background-color: #fff;
		.bold;
		border-bottom: none !important;
	}
}

.m-icon-search-tip {
	margin-top: 10px;
	background-color: #fafafa;
	border: 1px dashed #eee;
	padding: 10px;
	font-size: 13px;
	line-height: 2;
}
.m-icon-search-tip ul {
	list-style-type: square;
	padding-left: 20px;
}
.m-icons-tips {
	padding: 10px 0;
}

ul,
ul li {
	margin: 0;
	padding: 0;
}
.el-tabs--top {
	.mt(10px);
}
.searchbar-wrapper {
	.el-alert--info {
		margin: 10px auto;
	}
}
.loading-placeholder {
	height: 50px;
}
.m-icons-matrix {
	display: flex;
	flex-wrap: wrap;
	width: 1200px;
	padding: 0 6px;
	.auto(x);
	.u-icons-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 10px 5px;
		.u-pic,
		.u-img,
		.u-love {
			.size(56px);
			.r(6px);
			.pointer;
		}
		.u-pic {
			.pr;
			border: 1px solid #eee;
			box-sizing: border-box;
			.u-error {
				.db;
				color: #bcbcbc;
				line-height: 56px;
				.x;
			}
		}
		.u-love {
			.tm(0);
			.pa;
			.lt(0,0);
			background-color: rgba(255, 255, 255, 0.8);
			i {
				.db;
			}
		}
		&:hover {
			.u-love {
				.tm(1);
			}
		}
	}
}
// 收藏
.m-icons-sync {
	.mb(10px);
}

// 分割线
// 公共
.el-link {
	font-size: 12px;
	vertical-align: top;
}
.el-button--text {
	padding: 0;
	font-size: 12px;
}
.u-icon {
	.dbi;
	.y;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.u-icon-close {
	background-image: url(../../assets/img/icons/close.svg);
}
/* 爆炸心心-------------------------- */
.w-heart {
	background: url(../../assets/img/icons/web_heart_animation.png);
	background-position: left;
	background-repeat: no-repeat;
	cursor: pointer;
	.size(56px);
	background-size: 1624px;
}
.w-heart:hover {
	background-position: left; //显示最后一个红心帧
}

@-webkit-keyframes heartBlast {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}
@keyframes heartBlast {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}
.w-heart-animation {
	-webkit-animation-name: heartBlast; //webkit内核浏览器
	animation-name: heartBlast;
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-timing-function: steps(28); //共28个背景图片帧
	animation-timing-function: steps(28);
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	background-position: right;
}

//  分割线
.m-icons::after {
	content: "";
	display: table;
	clear: both;
}

// emoji
.m-icons-nav,
.m-icons-list {
	margin: 10px 0 20px 0;
	display: flex;
	flex-wrap: wrap;
}
.m-icons-nav {
	.u-btn {
		.fz(15px, 30px);
		.w(20%);
		.x;
		padding: 5px 10px;
		box-sizing: border-box;
		.pointer;

		span {
			.fz(13px);
			.db;
			.full;
			.r(4px);
			.color(#3d454d);
			border: 1px solid #eee;
			b {
				color: #777;
				font-weight: normal;
			}
		}
		&.active span,
		&:hover span {
			background-color: #fafafa;
		}
	}
}
.m-icons-list{
    .u-img{
        padding: 10px;
    }
}
@media screen and (max-width: @ipad) {
	.m-emotion-nav {
		.none;
	}
}
.m-emotion-selection {
	.mt(10px);
	.none;
}
@media screen and (max-width: @ipad) {
	.m-emotion-selection {
		.db;
	}
}
 
.btn-download-emoji {
	.pr;
	.db;
	.auto(x);
	i {
		.pa;
		.fz(22px);
		top: 50%;
		transform: translateY(-50%);
	}
	.el-icon-loading {
		top: 30%;
	}
}

.m-emotion-down {
	.dbi;
	.x;
	.ml(28px);
	.el-icon-cownload {
		font-size: 22px;
	}
	b {
		font-weight: 300;
	}
}
