.m-sandbox {
  .pr;
  padding: 20px;
  .m-bgmark{
    .pa;
    .z(8);
    .lt(0,0);
    .full; 
  }
  .m-sandbox-title {
    .x;
    padding-bottom: 20px;
  }

  .m-sandbox-change {
    display: flex;
    padding: 20px 20px 40px 20px;
    .m-item {
      display: flex;
      align-items: center;
      .mr(30px);
    }
  }

  .m-sandbox-box {
    .pr;
    .auto(x);
    padding: 53px 275px 66px 166px;
    .size(898px, 797px);
    .m-box {
      .full;
      .pr;
      .img {
        .pa;
        .pointer;
        img {
          -webkit-user-drag: none;
        }
      }
      .img_0 {
        .lt(72px, 10px);
      }
      .img_1 {
        .lt(149px, 65px);
      }
      .img_2 {
        .lt(362px, 117px);
      }
      .img_3 {
        .lt(496px, 152px);
      }
      .img_4 {
        .lt(637px, 122px);
      }
      .img_5 {
        .lt(12px, 206px);
      }
      .img_6 {
        .lt(235px, 187px);
      }
      .img_7 {
        .lt(607px, 259px);
      }
      .img_8 {
        .lt(11px, 386px);
      }
      .img_9 {
        .lt(226px, 356px);
      }
      .img_10 {
        .lt(392px, 368px);
      }
      .img_11 {
        .lt(502px, 391px);
      }
      .img_12 {
        .lt(562px, 430px);
      }
      .img_13 {
        .lt(51px, 602px);
      }
      .img_14 {
        .lt(305px, 581px);
      }
      .img_15 {
        .lt(683px, 523px);
      }
      .img_16 {
        .lt(0, 0);
      }
    }
    .m-box-txt {
      .pa;
      .z(9);
      .rt(160px, 180px);
      .size(300px, 520px);
      padding: 20px;
      .r(10px);
      background-color: #fff;
      .u-title {
        .x;
        .fz(20px, 2);
      }
      .u-img {
        .size(300px, 160px);
      }
      .u-cont {
        height: 240px;
        list-style: none;
        padding: 10px 0;
        border: 1px solid #ddd;
        .r(3px);
        li {
          margin: 0 10px; 
          border-bottom: 1px solid #ddd;
          padding: 10px ;
          overflow:hidden;  
          text-overflow:ellipsis; 
          white-space:nowrap;
          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
}
