.m-sandtable {
  padding: 20px 30px;
  max-width: 1200px;
  .auto(x);
}

@media screen and (max-width: @phone) {
  .m-price {
    padding: 20px;
  }

  .m-sandtable-title {
    .none;
  }
}

.m-sandtable-title {
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

.title-wrapper {
  position: relative;

  .title-server-name {
    float: left;
    font-size: 24px;
    line-height: 46px;
    font-weight: 500;
  }

  .el-checkbox {
    float: left;
    margin-top: 6px;
    margin-left: 20px;
  }

  .title-origin {
    .fz(13px);
    color: #555;
    float: right;

    .el-link {
      font-size: 1em;
      padding-bottom: 5px;
    }

    margin-bottom: 0;
  }
}

.title-wrapper::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: @phone) {
  .title-wrapper .title-origin {
    .none;
  }
}

.m-sandtable-search {
  .x;
  .auto(x);
  .w(100%);
  margin-top: 45px;

  .m-sandtable-search-camp{

    .u-camp {
      .w(85%);
      float: left;
      box-sizing: border-box;
    }
  }
  .m-sandtable-search-route {
    padding-top: 9px;
    padding-left: 130px;
    .route-switch{
      padding-left: 130px;
      float: left;
    }

    .route-origin {
      .fz(17px);
      color: #555;
      margin-bottom: 0;
      margin-top: 0;
      padding-left: 10px;
      float: left;
    }

  }

  .m-sandtable-search-date{
    float: right;
  }
}

.m-sandtable-nav {
  .is-active {
    .bold;
  }

  .el-tabs__header {
    .mb(0);
  }
}