.m-sandbox {
  .pr;
  width: 1280px;
  margin: 0 auto;
  padding: 20px;
  .m-line {
    .pa;
    .size(727px, 491px);
    .lt(132px, 198px);
    .z(1);
  }
  .m-bgmark {
    .pa;
    .z(8);
    .lt(0, 0);
    .full;
  }
  .m-sandbox-title {
    .x;
    padding-bottom: 20px;
  }
  .m-sandbox-change {
    display: flex;
    flex-direction: column;
    padding: 0 20px 40px 20px;
    .m-change {
      display: flex;
      padding: 20px 0 10px 0;
      .pr;
      .m-item {
        height: 40px;
        display: flex;
        align-items: center;
        .mr(30px);
        &:last-child {
          height: 70px;
          .pa;
          .rt(0, 0);
          .u-name {
            .color(#f39);
          }
        }
      }
    }
    .m-alert {
      .fz(12px);
      display: flex;
      justify-content: space-between;
    }
  }

  .m-sandbox-box {
    .pr;
    .auto(x);
    padding: 53px 275px 66px 166px;
    .size(898px, 797px);
    .m-box {
      .full;
      .pr;
      .m-box-img,
      .m-box-name,
      .m-box-camp,
      .m-box-arr {
        .pa;
        .z(2);
        .full;
        .u-img {
          .pa;
          img {
            -webkit-user-drag: none;
          }
        }
      }

      .m-box-name {
        .u-img {
          .z(3);
          .color(#fffcd0);
          .size(80px);
          .x;
          .pointer;
          img{
            zoom: .9;
          }
          span {
            .db;
            .pa;
            .rt(5px, -7px);
            .fz(12px, 18px);
            .w(1em);
            user-select: none;
            text-shadow: 1px 1px 1px #000;
          }
        }
        .eren {
          cursor: default;
          span {
            .rt(-14px, -10px);
          }
        }
        .haoqi {
          cursor: default;
          span {
            .rt(-10px);
          }
        }
        .WuWangCheng {
          span {
            .rt(-8px, -15px);
          }
        }
        .LinFengBao {
          span {
            .rt(-5px);
          }
        }
      }
    }
    .m-box-txt {
      .pa;
      .z(9);
      .rt(160px, 180px);
      .size(300px, 480px);
      padding: 30px 20px 20px 20px;
      .r(10px);
      background-color: #fff;
      .m-box-info {
        display: flex;
        align-items: center;
        .mb(24px);
        .u-img {
          .size(78px);
          .mr(10px);
        }
        .u-box {
          min-height: 80px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .fz(14px);
          .u-title {
            .fz(18px);
            .bold;
            .color(#555);
          }
          .u-desc {
            .color(#777);
            .fz(12px, 2);
            min-height: 30px;
            text-overflow: -o-ellipsis-lastline;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .u-baike {
            .fz(13px, 2);
            .color(@color-link, @pink);
          }
        }
      }

      .u-cont {
        height: 320px;
        list-style: none;
        padding: 10px 0;
        border: 1px solid #ddd;
        .r(3px);
        .u-nonedata {
          .x;
          padding: 10px;
        }
        li {
          margin: 0 10px;
          border-bottom: 1px solid #ddd;
          padding: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &:last-child {
            border-bottom: 0;
          }
          .u-line {
            .mb(5px);
          }

          .u-line {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.el-popover {
  .u-box {
    .full(x);
    .pr;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    img {
      .size(78px);
      .mr(10px);
    }
    .u-log {
      .pa;
      .fz(22px);
      .rt(-2px, -8px);
      .x;
      cursor: pointer;
    }
    .u-txt {
      width: 100%;
      min-height: 78px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .u-line {
        span {
          .fz(12px, 1.5);
        }
        .u-camp {
          .fz(16px);
          .bold;
        }
        &.u-gang {
          display: flex;
          flex-direction: column;
          span {
            &:last-child {
              .x;
            }
          }
        }
      }
    }
  }
}
.eren {
  .color(#ff0000);
}
.haoqi {
  .color(#1e9fff);
}
