.m-talent2-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;

    background-image: url('../img/talent2/bg.png');
    background-repeat: no-repeat;
    min-height: 525px;
    width: 67%;

    .m-talent2-left {
        position: relative;
        left: 10px
    }
    .m-talent2-right {
        position: relative;
        right: 10px;
    }
}

.m-talent2-title {
    padding: 40px 20px 0 50px;
    margin-bottom: 20px;


    &-count {
        font-size: 14px;
        margin-right: 8px;
    }

    &-name {
        // font-weight: bold;
        color: #F3F50A;
    }
}

.m-talent2-content {
    padding: 12px 24px;

    background-repeat: no-repeat;
    background-size: cover;

    &-row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;

        &:not(:last-of-type) {
            margin-bottom: 8px;
        }

        &-disabled {
            cursor: not-allowed;
        }
    }

    &-item {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 48px;
        width: 48px;
        border: 2px solid #ececec;
        border-radius: 50%;
        cursor: pointer;

        background: chocolate;

        &:hover {
            border-color: burlywood;
        }

        &-inactive {
            filter: grayscale(100%);
        }

        &-disabled {
            pointer-events: none;
        }

        img {
            height: 48px;
            width: 48px;
        }

        &-empty {
            visibility: hidden;
        }

        &-count {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        &-relate {
            position: absolute;
            font-size: 24px;
            bottom: -12px;
        }

        &-skill {
            border-radius: 6px;
        }
    }
}

.m-talent2-content-item {
    user-select: none;
}