.m-talent2-box {

    position: relative;
    .m-talent2-main {
        display: flex;
        position: relative;
        justify-content: space-between;
    }
    .m-talent2-main-title {
        position: absolute;
        color: #fff;
        width: 100%;
        text-align: center;
        top: 12px;
        font-size: 1.2em;
        text-shadow: 1px 1px 1px black;
    }


    background-image: url('../img/talent2/bg.png');
    background-repeat: no-repeat;
    min-height: 525px;
    width: 66.6%;

    .m-talent2-left {
        flex: auto;
    }
    .m-talent2-right {
        flex: auto;
    }

    .m-talent2-surplus {
        position: absolute;
        color: #fff;
        right: 30px;
        top: 45px;
    }
    .m-talent2-actions {
        position: absolute;
        right: 30px;
        bottom: 30px;

        &-btn {
            color: #fff;
            border: none;
            padding: 5px 25px;
            background-image: linear-gradient(to bottom, #898B8A 50%, #595B5A 50%);
        }
    }
}

.m-talent2-title {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 12px;
    padding-left: 16px;

    background-image: url('../img/talent2/title_bg.png');
    background-repeat: no-repeat;
    background-position: left bottom;


    .m-talent2-xf-icon {
        width: 30px;
    }

    &-count {
        display: inline-block;
        position: absolute;
        left: 48px;
        bottom: -2px;
        text-align: center;
        width: 20px;
        font-size: 14px;
        margin-right: 8px;
        color: #fff;

        background-image: url('../img/talent2/count_bg.png');
        background-repeat: no-repeat;
    }

    &-name {
        color: #F3F50A;
        font-size: 15px;
        margin-left: 35px;
    }
}

.m-talent2-content {
    display: grid;
    padding: 12px 24px;
    height: 76%;
    margin: 0 15px;
    margin-top: 82px;

    background-repeat: no-repeat;
    background-size: cover;

    &-row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        padding: 0 12px;

        &-disabled {
            cursor: not-allowed;
        }
    }

    &-item {
        display: inline-block;
        position: relative;
        cursor: pointer;

        &:hover {
            border-color: burlywood;
        }

        &-inactive {
            filter: grayscale(100%);
        }

        &-disabled {
            pointer-events: none;
        }
        .m-talent2-skill {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 52px;
                height: 52px;
                background-image: url('../img/talent2/skill_bg.png');
                z-index: 6;
                left: -1px;
                top: -2px;
            }
    
        }
        img {
            border-radius: 48px;
            transform: scale(0.95);
        }

        .m-talent2-unselected {
            &::before {
                content: '';
                position: absolute;
                height: 48px;
                width: 48px;
                border-radius: 48px;
                background: rgba(0,0,0,0.5);
                z-index: 10;
            }
        }

        &-empty {
            visibility: hidden;
        }

        &-count {
            position: absolute;
            width: 20px;
            background-image: url('../img/talent2/count_bg.png');
            background-repeat: no-repeat;
            text-align: center;
            right: -6px;
            bottom: 0;
            z-index: 9;

            color: #F89403;
        }

        &-relate {
            position: absolute;
            font-size: 24px;
            bottom: -12px;
        }

        &-skill {
            border-radius: 5px;
        }
    }
    .m-talent2-content-item {
        user-select: none;
    }
}
