.m-app{
    .mt(@header-height + @bread-height);
}

.m-info{
    .fz(12px);
    white-space: nowrap;
    overflow-x: auto;
    .fl;
    a:hover{
        color:@pink;
    }
}
@media screen and (max-width:@ipad){
    .m-info{
        float: none;
    }
}


// 为空
.m-archive-null{
    margin-top:10px;
}

// 加载更多
.m-archive-more{
    .mb(10px);
    .w(100%);
    .none;
    .mt(20px);
}
.m-archive-more.show{
    .db;
}

// 分页
.m-archive-pages{
    .mt(20px);
    overflow-x: auto;
    .x;
    max-width:100%;
}

.el-icon-circle-close{
    color:#fff;
}

.el-tabs--card {
    .el-tabs__item{
        background-color:@bg-light;
        border-bottom:1px solid @border !important;

        &.is-active{
            border-bottom:none !important;
            background-color:#fff;
            .bold;
        }
    }
}