.m-app{
    .mt(@header-height + @bread-height);
}

.m-info{
    .fz(12px);
    white-space: nowrap;
    overflow-x: auto;
    .fl;
}
@media screen and (max-width:@ipad){
    .m-info{
        float: none;
    }
}